<h4>Latest Feedback</h4>
<table class='table table-striped'>
  <thead>
    <tr>
      <th class ='left'>INCORRECT QUESTION</th>
      <th>DEVELOPMENTAL TOPIC AREA</th>
    </tr>
  </thead>
  <tbody>
    <% @incorrect_answers.each do |ans|%>
    <tr>
      <td><%= ans.question.question %></td>
      <td><%= ans.learning_module.title unless ans.learning_module.nil?%></td>
    </tr>
    <% end %>
  </tbody>
</table>
