Hi <%= @professor.name %>,<br/>
<br/>
<br/>
<%= @user.name %> has requested to join your <%= @class_request.roster.title %> Class. Please approve request by <a href='http://www.statsdojo.com/rosters'> clicking here</a>.
<br/>
<br/>
Thanks,<br/>
the StatsDojo Team