<div class='row'>
   <%= render 'pages/pages_mobile_nav' %>
</div>

<div class='container'>
  <div class='ninja'>
    <%= image_tag('ninja.png') %>
  </div>
  <div class='sign_up'>
    <div class='sign_up_content'>
      <div class='logo hidden-xs'>
        <%= image_tag('signup_logo.png', class: 'img-responsive') %>
      </div>
      <h2>Change Your Password.</h2>
      <p class='desc'>Instructions to reset your password will be emailed to you shortly.</p>

    </div>
  </div>
</div>
