// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.lessons {
  .video-preview{
    margin-right: 20px;
      video{
        margin-top: 15px;
        width: 350px;
      }
    }
  }

.rest-in-place-question{
  width: 100%;
}

.rest-in-place-choice{
  width: 100%;
}

.rest-in-place-title{
  width: 100%;
}


#lessons{
  cursor:move;
  .header{
    text-align: center;
    td{
      height: 10px;
    }
  }
}