@import 'variables';

.rosters{
  h2{
    margin-top: 67px;
    margin-bottom: 10px !important;
    width: 65%;
    border-bottom: 1px solid $faded-color; 
    float: left;
    height: 45px;
  }
  .roster-stats{
    margin-top: -10px !important;
    ul{
      margin-left: -90px;
    }
  }
  .roster-controls{
    float: right;
    margin-top: 35px;
  }
  
  #editLessons{
    float: left;
    width: 100%;
    
    .panel-body{
      padding: 0 !important;
      margin-top: -30px;
    }
    
  }
}

.rosters-index{
  h2.heading{
    margin-bottom: 5px;
  }
  table{
    margin-top: 30px;
  }
}

.professor-search{
  width: 100%;
  input{
    width: 100%;
    padding: 5px;
  }
}

.professor-select{
  select{
    width: 100%;
  }
}

.student-search{
  width: 100%;
  input{
    width: 44%;
    padding: 5px;
  }
}

.student-select{
  select{
    width: 44%;
    padding: 5px;
  }
  .select-wrapper{
    width: 100%;
    height: 225px;
  }
  .existing-students{
    float: left;
  }
  .confirmed-students{
    float: right;
  }
  #move-student{
    font-size: 100px;
    margin:0 4%;
  }
}

.modal-body{
  label{
    display: none;
  }
  .student-search{
    // margin-left: 0.9%;
  }
}

