@import 'variables';

.rosters{
  h2{
    margin-bottom: 10px !important;
    width: 65%;
    border-bottom: 1px solid $faded-color; 
    float: left;
    height: 45px;
  }
  .roster-stats{
    margin-top: -10px !important;
    ul{
      margin-left: -90px;
    }
  }
  .roster-controls{
    float: right;
    margin-top: 35px;
  }
  
  #editLessons{
    float: left;
    width: 100%;
    
    .panel-body{
      padding: 0 !important;
      margin-top: -30px;
    }
    
  }
}

.student-select{
  select{
    width: 49%;
  }
  .confirmed-students{
    float: right;
  }
}