.rosters{
  h2{
    margin-bottom: 10px !important;
  }
  .roster-stats{
    margin-top: -10px !important;
  }
}

.student-select{
  select{
    width: 49%;
  }
  .confirmed-students{
    float: right;
  }
}