// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.user-info{
  margin-top: 15px;
  margin-right: 10px;
  float:right;
  font-size: 16px;
  .greeting{
    font-style: italic;
    margin-right: 40px;
  }
}

.side-nav{
  width:190px;
  height:1000px;
  background-color: #e1e1e1;
  float:left;
  a{
    color: $primary-color;
  }
  ul{
    list-style: none;
    font-size: 18px;
    padding: 0;
    li{
      padding: 8px 15px;
    }
    .selected{
      background-color: white;
      a {
        color: $accent-color;
      }
    }
  }
}

.dashboard{
  padding-left: 20px;
  font-size: 15px;
  h2{
    font-weight: lighter;
    color: $emphasis-color;
    margin-bottom: 30px;
  }
  h4{
    font-weight: lighter;
    color: $emphasis-color;
  }
  .delete-question{
    margin-top: -25px;
    margin-bottom: 30px;
  }
  .header-break{
    width: 100%;
    border-bottom: 1px solid $faded-color;
    margin-bottom: 15px;
  }
  .stats-overview{
    height: auto;
    .progress{
      margin-top: 15px;
    }
  }
  .current-lesson{
    width: 100%;
    .video-preview{
      float: left;
      margin-right: 20px;
      video{
        margin-top: 15px;
        width: 350px;
      }
    }
    .take-assessment{
      margin-top: 40px;
      text-align: center;
      float: left;
      margin-left: 15px;
    }
  }
  .lesson-stats{
    margin-top: 40px;
    width: 100%;
    float: left;
    .challenged-belts{
      margin-top: -20px;
      div{
        img{
          margin-top: 10px;
          margin-bottom: 64px;
          width: 50%;
        }
      }
    }
    ul{
      padding: 0;
      list-style: none;
      li{
        display: inline-block;
        padding: 0px;
        width: 23%;
        text-align: center;
        .stat{
          color: #bbe363;
          font-size: 48pt;
        }
      }
    }
  }
}


.summary{
  h2{
    margin-bottom: 10px;
  }
  .student-details{
    margin-bottom: 30px;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  .student-stats{

  table{
      width: 100%;
    }
    thead{
      border-bottom: 1px solid $faded-color;
    }
    th{
      color: $emphasis-color;
      font-size: 22px;
      font-weight: lighter;
      text-align: center;
    }
    td{
      padding: 30px 0;
      .linkify{
        background-color: white;
        border: none;
        color: $emphasis-color;
        padding: 0;
      }
      .linkify:hover{
        text-decoration: underline;
      }
    }
    .left{
      text-align: left;
    }
    .stat{
      text-align: center;
      color: #bbe363;
      font-size: 20pt; 
    }
    .lesson-links{
      font-size: 14px;
    }
  }
}

.navbar{
  text-align: center;
  border-bottom: 1px solid $faded-color; 
  .navbar-toggle{
    position: absolute;
    right: 0px;
    margin-right: 4px;
  }
  .navbar-brand{
    padding: 0;
    img{
      height: 55px;
    }
  }
  
}


@media (max-width: 768px) {
  .dashboard{
    padding-left: 0px;
    .current-lesson{
      .video-preview{
        text-align: center;
        margin: 0 auto;
        float: none;
      }
      .take-assessment{
        text-align: center;
        margin: 0 auto;
        float: none; 
      }
    }
    .lesson-stats{
      ul{
        li{
          .stat{
            font-size: 23pt; 
          }   
        }
      }
      .challenged-belts{
      margin-top: -20px;
      div{
        img{
          margin-top: 10px;
          margin-bottom: 0px;
          width: 50%;
          }
        }
      } 
    }
  }
.summary{
  h2{
    margin-bottom: 10px;
  }
  .student-details{
    margin-bottom: 30px;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  .student-stats{
      th{
        font-size: 18px;
      }
      .stat{
        font-size: 16pt; 
      }
    }
  }
}

.earned-belts{
  text-align: center;
  margin:0 auto;
  ul{
    padding:0px;
    list-style: none;
    border-radius: 0px;
    text-align: center;
    li {
      padding: 25px 0;
      margin:0 auto;
      display: inline-block;
      text-align: center;
      width: 24%;
      img{
        width: 50%;
      }
    }
  }
}


.yellow{background-color: yellow;}
.orange{background-color: orange;}
.green{background-color: green;}
.blue{background-color: blue;}
.purple{background-color: purple;}
.red{background-color: red;}
.brown{background-color: brown;}
.black{background-color: black;}

#belt_yellow{ background-color: #fff888;}
#belt_orange{ background-color: #ffc77f;}
#belt_green{ background-color: #c9ffd3;}
#belt_blue{ background-color: #c9f0ff;}
#belt_purple{ background-color: #e6d8fe;}
#belt_red{ background-color: #ff9f9f;}
#belt_brown{ background-color: #dca68e;}


.modal{
  text-align: center;
  margin: 0 auto;
  .modal-content{
    border: 1px solid $faded-color;
  }
  video{
    width: 500px;
  }
}
